# CS771A Assignment 3
\- Yash Gupta (190997)

## Q1. Perceptron Algorithm

In [13]:
# importing libraries
import numpy as np
from numpy import linalg as lin
import pandas as pd
from matplotlib import pyplot as plt

Let's read the dataset and preprocess it

In [14]:
# names of the columns of the dataset
cols = ['variance', 'skewness', 'curtosis', 'entropy', 'class']
cols

['variance', 'skewness', 'curtosis', 'entropy', 'class']

In [15]:
# reading the data
data = pd.read_csv('data_banknote_authentication.txt', names=cols)
data

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [16]:
# checking for missing data
data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [17]:
# changing the negative class label from 0 to -1
data['class'].replace(0, -1, inplace=True)
# data.loc[data['class'] == 0, 'class'] = -1
data

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699     -1
1      4.54590   8.16740   -2.4586 -1.46210     -1
2      3.86600  -2.63830    1.9242  0.10645     -1
3      3.45660   9.52280   -4.0112 -3.59440     -1
4      0.32924  -4.45520    4.5718 -0.98880     -1
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [18]:
X = data.drop('class', axis=1)
y = data['class']

## Q1. (a)
Code up the perceptron algorithm described on slide 7 of Lecture 15 using the same notation as in the slides.

In [19]:
def perceptron_algo():
    w = np.zeros(4)
    eta = 1
    while :
        idx = np.random.choice(np.arange(len(X)))
        X_n = X[idx]
        y_n = y[idx]
        if y_n * np.dot(w, X_n) < 0:
            w += eta * y_n * X_n
    return w

SyntaxError: invalid syntax (4167420365.py, line 4)

## Q1. (b)
Write functions to make predictions using the algorithm for the banknotes dataset. Preprocess the dataset to handle missing and anomalous data.

In [ ]:
def predict(w, x):
    return 1 if np.dot(w, x) >= 0 else -1

## Q1. (c)
Train the algorithm on the dataset using cross-validation and report cross-validated test set error